@model Project_PRN211_V2.Models.Person
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>
<body>

    <form method="POST" asp-controller="Home" asp-action="Register">
        <div class="container">
            <h1>Đăng Kí Tài Khoản</h1>



            <hr>
            <label for="email"><b>Email</b></label>
            <input type="text" asp-for="Email" placeholder="Enter Email" name="email"  required>
            <span asp-validation-for="Email"></span>

            <label for="password"><b>Password</b></label>
            <input type="password" asp-for="Password" placeholder="Enter Password" name="password" required>
            <span asp-validation-for="Password"></span>

            <label for="re-password"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="re-password"  required>

            <label for="fullname"><b>Full Name</b></label>
            <input type="text" asp-for="Fullname" placeholder="Repeat Password" name="fullname" required>
            <span asp-validation-for="Fullname"></span>

            Giới Tính
            <input checked asp-for="Gender" type="radio" id="gender1" name="gender" value="Nam">
            <label for="gender1">male</label>
            <input asp-for="Gender" type="radio" id="gender2" name="gender" value="Nữ">
            <label for="gender2">female</label>
            <span asp-validation-for="Gender"></span>
            <hr>
            <button type="submit" class="registerbtn">Register</button>
        </div>
        <div class="container signin">
            <p>Nếu Tài Khoản Đã Tồn Tại ? <a href="#">Sign in</a>.</p>
        </div>
    </form>

</body>
</html>
