@model Project_PRN211_V2.Models.Movie

<h3>Add Movie</h3>

<tr>
	<form style="display:flex;" asp-controller="admin" asp-action="movie_add" method="post">
		Title:<input required asp-for="Title" type="text" value="" />

		Year:<input pattern="^[12][0-9]{3}$" required asp-for="Year" type="text" value="" />

		<input hidden class="imge_1" asp-for="Image" type="text" value="" />
		Image:<input required id="imge_1" onchange="convertFileToBase64(this)" type="file" />

		Description:<input required asp-for="Description" type="text" value="" />

		Genre:<select required asp-for="GenreId" asp-items="@(ViewData["movie_genre_combobox"] as SelectList)"></select>

		<input type="submit" value="Thêm Phim Mới" />

	</form>
</tr>

<script>
	function convertFileToBase64(input) {
		var target = '';
		target = input.id;
		console.log(target);

		const file = input.files[0];
		const reader = new FileReader();
		reader.readAsDataURL(file);
		reader.onload = function () {
			const base64String = reader.result.split(",")[1];
			document.getElementsByClassName(target)[0].value = base64String
			console.log(document.getElementsByClassName(target)[0].value);
		};
	}
</script>

@*SELECT TOP (1000) [MovieID]
	  ,[Title]
	  ,[Year]
	  ,[Image]
	  ,[Description]
	  ,[GenreID]
  FROM [CenimaDB].[dbo].[Movies]*@